<style>
    /* Blue part */
    .sitename .text-primary {
        color: #0B4DA2 !important;
    }

    /* Gold part */
    .sitename .text-gold {
        color: #D4AF37 !important;
    }
</style>

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="assets/img/UniMitraLogo.png" alt="Uni Mitra Overseas">
            <!-- <h1 class="sitename">Uni Mitra Overseas</h1> -->
            <h1 class="sitename">
                <span class="text-primary">UNI MITRA</span>
                <span class="text-gold">OVERSEAS</span>
            </h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/" class="active">Home<br></a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/visa">Visa</a></li>
                <li><a href="/coaching">Coaching</a></li>
                <li class="dropdown"><a href="#"><span>Study in</span> <i
                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="/study-in?country=uk">United Kingdom</a></li>
                        <li><a href="/study-in?country=us">United States</a></li>
                        <li><a href="/study-in?country=australia">Australia</a></li>
                        <li><a href="/study-in?country=ireland">Ireland</a></li>
                        <li><a href="/study-in?country=france">France</a></li>
                        <li><a href="/study-in?country=canada">Canada</a></li>
                        <li><a href="/study-in?country=germany">Germany</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
                <a class="btn-getstarted" href="/contact">Applay Now</a>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <!-- <a class="btn-getstarted" href="/contact">Applay Now</a> -->

    </div>
</header>